<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vibrantcube.eglobes">

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".profile.firebase.FirebaseProfileActivity"></activity>
        <activity android:name=".profile.firebase.FirebaseSignInActivity" />
        <activity android:name=".profile.firebase.FirebaseSignUpActivity" />
        <activity android:name=".home.TrendActivity" />
        <activity android:name=".profile.SignUp" />
        <activity android:name=".profile.ForgotPasswordActivity" />
        <activity
            android:name=".profile.SignInActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>